@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-ms-madi: "Ms Madi", cursive;

    --animate-blob: subtleBlob 5s infinite ease-in-out;

    @keyframes subtleBlob {
        0%, 100% {
            opacity: 1;
            transform: scale(1);
        }
        50% {
            opacity: 0.6;
            transform: scale(1.05);
        }
    }
}

html, body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}